h1 {
  color: chartreuse;
  font-size: xx-large;
  background-color: brown;
}

h2 {
  color: #800080; /*Hex code */
  font-size: xx-large;
  background-color: rgb(146, 128, 128);
}

h3 {
  color: rgb(0, 0, 128); /*Rgb code */
  font-size: xx-large;
  background-color: rgb(25, 143, 197);
}

button {
  color: darkblue;
  background-color: tan;
}

p {
  color: rgb(241, 203, 203);
  background-color: brown;
}
