body {
  font-family: Arial, Helvetica, sans-serif;
}

/* foreground color */

/* color name */
.h1_malik {
  color: black;
}

h1 {
  color: rgb(241, 202, 202);
}

/* hex code */
h2 {
  color: #ee3e80;
}

/* rgb value */
P {
  color: rgb(22, 97, 184);
}

/* background color */
body {
  background-color: rgb(102, 19, 51);
}

h2 {
  background-color: darkmagenta;
}

p {
  background-color: rgb(58, 8, 92);
}
