* {
  font-family: "Trebuchet MS";
}

h1 {
  color: brown;
}

p > b {
  color: brown;
}

p > i {
  color: brown;
}

h2 {
  color: rgb(255, 255, 255);
  background-color: brown;
  height: 60px;
  width: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  border: 3px solid yellow;
}
