h1 {
  text-align: center;
  font-weight: 900;
  text-decoration: underline overline #0988f0;
}

p {
  /* text-align: center; */
  /* font-weight: 900; */
  line-height: 1.5;
  letter-spacing: -1px;
}

a {
  color: black;
  text-decoration: none;
}
